In [8]:
# Dependancies
import pandas as pd
import os
import csv

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base

# Define Declarative Base 
Base = declarative_base()

In [ ]:
# Creating an engine, sqlite database and connection to the engine
engine = create_engine("sqlite:///db/wine.sqlite", echo=False)
conn = engine.connect()

In [9]:
# Use this to delete tables
engine.execute('DROP TABLE wine_table')

# Clear the metadata object, too
Base.metadata.clear()
# Inspecting the Table to make sure the table is there
inspector = inspect(engine)
inspector.get_table_names()

[]


# Exploratory Analysis of the Data

In [10]:
# Read in CSV File
raw_df=pd.read_csv('db/wine_library.csv', dtype={'Zip': 'str'})
raw_df.head(2)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez

In [11]:
# Inspecting the data 
# NOTE: The lowest point is 80, the highest is 100, so have to put the ratings in the range for the ml label later on
raw_df.describe()

          Unnamed: 0         points          price
count  150930.000000  150930.000000  137235.000000
mean    75464.500000      87.888418      33.131482
std     43569.882402       3.222392      36.322536
min         0.000000      80.000000       4.000000
25%     37732.250000      86.000000      16.000000
50%     75464.500000      88.000000      24.000000
75%    113196.750000      90.000000      40.000000
max    150929.000000     100.000000    2300.000000

In [12]:
# Shape of the data
raw_df.shape

(150930, 11)

In [13]:
# See if there are any NaN values
raw_df.isnull().sum()

Unnamed: 0         0
country            5
description        0
designation    45735
points             0
price          13695
province           5
region_1       25060
region_2       89977
variety            0
winery             0
dtype: int64

In [14]:
# Drop designation & region_2 columns (don't need those)
dropped_df = raw_df.drop(['designation', 'Unnamed: 0'], axis = 1) 
dropped_df.head(2)

,country,description,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez

In [15]:
# Drop all NaN values in region_1 and price columns
# NOTE: if there is a missing values in region 1 then the data was entered incorrectly
# NOTE: Only dropping NaN values from country and price. If I dropped NaN values from region_2 then I only have 9 
# countries, losing too much data.
new_df = dropped_df.dropna(subset=['price', 'country'])

In [16]:
# The shape of a clean dataset 
new_df.shape

(137230, 9)

In [17]:
new_df.head(2)

,country,description,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez

# Load the Data into sqlite database

In [18]:
# Creating a Class & table 
class Wine(Base):
    __tablename__ = 'wine_table'
    id = Column(Integer, primary_key=True)
    country = Column(String(255))
    description = Column(String(1000))
    points = Column(Float)
    price = Column(Float)
    province = Column(String(255))
    region_1 = Column(String(255))
    region_2 = Column(String(255))
    variety = Column(String(255))
    winery = Column(String(255))

In [19]:
Base.metadata.create_all(conn)

In [20]:
# Transfer the data to sqlite table
new_df.to_sql(name='wine_table', con=conn, if_exists='append', index=False)

In [21]:
# Inspecting the Table to make sure the table is there
inspector = inspect(engine)
inspector.get_table_names()

['wine_table']

In [22]:
# Checking the data 
engine.execute('SELECT * FROM wine_table LIMIT 20').fetchall()

[(1, 'US', 'This tremendous 100% varietal wine hails from Oakville and was aged over three years in oak. Juicy red-cherry fruit and a compelling hint of caramel  ... (57 characters truncated) ... ubtle minty tone in the background. Balanced and rewarding from start to finish, it has years ahead of it to develop further nuance. Enjoy 2022–2030.', 96.0, 235.0, 'California', 'Napa Valley', 'Napa', 'Cabernet Sauvignon', 'Heitz'),
 (2, 'Spain', 'Ripe aromas of fig, blackberry and cassis are softened and sweetened by a slathering of oaky chocolate and vanilla. This is full, layered, intense an ... (20 characters truncated) ... alate, with rich flavors of chocolaty black fruits and baking spices. A toasty, everlasting finish is heady but ideally balanced. Drink through 2023.', 96.0, 110.0, 'Northern Spain', 'Toro', None, 'Tinta de Toro', 'Bodega Carmen Rodríguez'),
 (3, 'US', 'Mac Watson honors the memory of a wine once made by his mother in this tremendously delicious, balanced and complex botrytised white. Dark gold in color, it layers toasted hazelnut, pear compote and orange peel flavors, reveling in the succulence of its 122 g/L of residual sugar.', 96.0, 90.0, 'California', 'Knights Valley', 'Sonoma', 'Sauvignon Blanc', 'Macauley'),
 (4, 'US', "This spent 20 months in 30% new French oak, and incorporates fruit from Ponzi's Aurora, Abetina and Madrona vineyards, among others. Aromatic, dense  ... (88 characters truncated) ... herry, coffee and graphite. Tannins are polished to a fine sheen, and frame a finish loaded with dark chocolate and espresso. Drink now through 2032.", 96.0, 65.0, 'Oregon', 'Willamette Valley', 'Willamette Valley', 'Pinot Noir', 'Ponzi'),
 (5, 'France', 'This is the top wine from La Bégude, named after the highest point in the vineyard at 1200 feet. It has structure, density and considerable acidity t ... (78 characters truncated) ... extra richness and concentration. Produced by the Tari family, formerly of Château Giscours in Margaux, it is a wine made for aging. Drink from 2020.', 95.0, 66.0, 'Provence', 'Bandol', None, 'Provence red blend', 'Domaine de la Bégude'),
 (6, 'Spain', 'Deep, dense and pure from the opening bell, this Toro is a winner. Aromas of dark ripe black fruits are cool and moderately oaked. This feels massive ... (17 characters truncated) ... t sensationally balanced. Flavors of blackberry, coffee, mocha and toasty oak finish spicy, smooth and heady. Drink this exemplary Toro through 2023.', 95.0, 73.0, 'Northern Spain', 'Toro', None, 'Tinta de Toro', 'Numanthia'),
 (7, 'Spain', "Slightly gritty black-fruit aromas include a sweet note of pastry along with a hint of prune. Wall-to-wall saturation ensures that all corners of one ... (21 characters truncated) ...  Flavors of blackberry, mocha and chocolate are highly impressive and expressive, while this settles nicely on a long finish. Drink now through 2024.", 95.0, 65.0, 'Northern Spain', 'Toro', None, 'Tinta de Toro', 'Maurodos'),
 (8, 'Spain', 'Lush cedary black-fruit aromas are luxe and offer notes of marzipan and vanilla. This bruiser is massive and tannic on the palate, but still lush and ... (59 characters truncated) ...  cassis flavors are hardly wallflowers. On the finish, this is tannic and deep as a sea trench. Drink this saturated black-colored Toro through 2023.', 95.0, 110.0, 'Northern Spain', 'Toro', None, 'Tinta de Toro', 'Bodega Carmen Rodríguez'),
 (9, 'US', "This re-named vineyard was formerly bottled as deLancellotti. You'll find striking minerality underscoring chunky black fruits. Accents of citrus and graphite comingle, with exceptional midpalate concentration. This is a wine to cellar, though it is already quite enjoyable. Drink now through 2030.", 95.0, 65.0, 'Oregon', 'Chehalem Mountains', 'Willamette Valley', 'Pinot Noir', 'Bergström'),
 (10, 'US', 'The producer sources from two blocks of the vineyard for this wine—one at a high elevation, which contributes bright acidity. Crunchy cranberry, pome ... (9 characters truncated) ... nd orange peel flavors surround silky, succulent layers of texture that present as fleshy fruit. That delicately lush flavor has considerable length.', 95.0, 60.0, 'California', 'Sonoma Coast', 'Sonoma', 'Pinot Noir', 'Blue Farm'),
 (11, 'Italy', "Elegance, complexity and structure come together in this drop-dead gorgeous winethat ranks among Italy's greatest whites. It opens with sublime yello ... (76 characters truncated) ... us palate seamlessly combines juicy white peach, ripe pear and citrus flavors while white almond and savory mineral notes grace the lingering finish.", 95.0, 80.0, 'Northeastern Italy', 'Collio', None, 'Friulano', 'Borgo del Tiglio'),
 (12, 'US', 'From 18-year-old vines, this supple well-balanced effort blends flavors of mocha, cherry, vanilla and breakfast tea. Superbly integrated and delicious even at this early stage, this wine seems destined for a long and savory cellar life. Drink now through 2028.', 95.0, 48.0, 'Oregon', 'Ribbon Ridge', 'Willamette Valley', 'Pinot Noir', 'Patricia Green Cellars'),
 (13, 'US', 'A standout even in this terrific lineup of 2015 releases from Patricia Green, the Weber opens with a burst of cola and tobacco scents and accents. It continues, subtle and detailed, with flavors of oranges, vanilla, tea and milk chocolate discreetly threaded through ripe blackberry fruit.', 95.0, 48.0, 'Oregon', 'Dundee Hills', 'Willamette Valley', 'Pinot Noir', 'Patricia Green Cellars'),
 (14, 'France', 'This wine is in peak condition. The tannins and the secondary flavors dominate this ripe leather-textured wine. The fruit is all there as well: dried ... (5 characters truncated) ... ies and hints of black-plum skins. It is a major wine right at the point of drinking with both the mature flavors and the fruit in the right balance.', 95.0, 90.0, 'Southwest France', 'Madiran', None, 'Tannat', 'Vignobles Brumont'),
 (15, 'US', "With its sophisticated mix of mineral, acid and tart fruits, this seductive effort pleases from start to finish. Supple and dense, it's got strawberr ... (129 characters truncated) ... proportion and finish with an appealing silky texture. It's delicious already, but give it another decade for full enjoyment. Drink now through 2028.", 95.0, 185.0, 'Oregon', 'Dundee Hills', 'Willamette Valley', 'Pinot Noir', 'Domaine Serene'),
 (16, 'US', "First made in 2006, this succulent luscious Chardonnay is all about minerality. It's got a rich core of butterscotch and the seemingly endless layers of subtle flavors that biodynamic farming can bring. It spends 18 months on the lees prior to bottling. Drink now through 2028.", 95.0, 90.0, 'Oregon', 'Willamette Valley', 'Willamette Valley', 'Chardonnay', 'Bergström'),
 (17, 'US', "This blockbuster, powerhouse of a wine suggests blueberry pie and chocolate as it opens in the glass. On the palate, it's smooth and seductively silky, offering complex cedar, peppercorn and peppery oak seasonings amidst its dense richness. It finishes with finesse and spice.", 95.0, 325.0, 'California', 'Diamond Mountain District', 'Napa', 'Cabernet Sauvignon', 'Hall'),
 (18, 'Spain', 'Nicely oaked blackberry, licorice, vanilla and charred aromas are smooth and sultry. This is an outstanding wine from an excellent year. Forward barr ... (40 characters truncated) ... ackberry and raspberry fruit, while this runs long and tastes vaguely chocolaty on the velvety finish. Enjoy this top-notch Tempranillo through 2030.', 95.0, 80.0, 'Northern Spain', 'Ribera del Duero', None, 'Tempranillo', 'Valduero'),
 (19, 'France', 'Coming from a seven-acre vineyard named after the dovecote on the property, this is a magnificent wine. Powered by both fruit tannins and the 28 mont ... (74 characters truncated) ...  sign of its pedigree, there is also elegance here, a restraint which is new to this wine. That makes it a wine for long-term aging. Drink from 2022.', 95.0, 290.0, 'Southwest France', 'Cahors', None, 'Malbec', 'Château Lagrézette'),
 (20, 'US', 'This fresh and lively medium-bodied wine is beautifully crafted, with cherry blossom aromas and tangy acidity. Layered and seductive, it offers a crisp mix of orange peel, cherry, pomegranate and baking spice flavors that are ready for the table or the cellar.', 95.0, 75.0, 'California', 'Sonoma Coast', 'Sonoma', 'Pinot Noir', 'Gary Farrell')]